.menu {
    display: flex;
    padding: 13px 0px;
    align-items: center;
    gap: 16px;
    flex-direction: row;

    @media (max-width: 1024px) {
        display: none;
    }
}

.nav {
    @media (max-width: 1024px) {
        display: none;
    }
}