.productCard {
  max-width: 1400px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.price {
  text-align: center;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%
}

.productCardControlMob {
  display: none;

  @media (max-width: 1024px) {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
  }
}

.fav {
  display: flex;

  @media (max-width: 1024px) {
    display: none;
  }
}

.cartBtn {
  display: flex;
  height: 54px;
  padding: 14px 24px 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: #F94233;
  color: white;

  @media (max-width: 1024px) {
    width: 100%;
  }
}
  
.productCardDetails {
  width: 80%;

  @media (max-width: 1024px) {
    width: 100%;
  }
}

.productCardControl {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 1024px) {
    display: none;
  }
}

.productList {
  display: flex;
  padding: 60px 4px 0 4px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.productInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productCardInfo {
  display: flex;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.title {
  color: var(--Black, #000);
  font-variant-numeric: ordinal;
  font-feature-settings: 'dlig' on, 'ss01' on, 'ss04' on, 'ss07' on, 'ss08' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on;
  font-family: "Inter Variable";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 87%;

  @media (max-width: 1024px) {
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: 100%;
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--Black, #000);
  font-variant-numeric: ordinal;
  font-feature-settings: 'dlig' on, 'ss01' on, 'ss04' on, 'cv01' on, 'cv02' on, 'cv03' on, 'cv04' on;
  text-overflow: ellipsis;

  font-family: "Inter Variable";
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  line-height: 100%;

  @media (max-width: 1024px) {
    font-size: 16px;
    font-style: normal;
    font-weight: 412;
    line-height: 100%;
  }
}
